:root {
    --bs-body-font-family: 'Poppins', sans-serif;
}

body {
    font-family: var(--bs-body-font-family);
}

h1,
h2,
h3,
.navbar-brand {
    font-family: 'Playfair Display', serif;
}


.food-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.food-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
}


.form-control:focus {
    background-color: #fff;
    border-color: var(--bs-danger) !important;
    box-shadow: 0 0 0 0.25rem rgba(var(--bs-danger-rgb), 0.15);
}

.footer-link {
    color: #adb5bd;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.footer-link:hover {
    color: #fff;
    padding-left: 5px;
}